h1 {
    text-align: center;
    background-color: #fcccdc;
}

.bread-pic {
    height: auto;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #fcccdc;
}